body {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    height: 100vh;
    margin: 0;
    color: #fff;
    background-image: url('https://images.pexels.com/photos/1010513/pexels-photo-1010513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.stopwatch {
    font-size: 36px;
}

button {
    font-size: 18px;
    margin-left: 10px;
}
